# Xcode project files
*.xcworkspace/
*.xcuserstate
*.xcuserdata/
DerivedData/
*.pbxuser

# Swift Package Manager
.swiftpm/
Package.resolved

# Firebase
GoogleService-Info.plist

# Build files
build/
*.app/
*.ipa/

# Logs & Cache
*.log
.DS_Store

# Environment files
.env
